# Introducción
Como desarrollador, con frecuencia trabajarás con conjuntos de datos. Es posible que debas administrar varios nombres, edades o direcciones. Almacenar cada valor en una variable individual hace que el código sea más dificl de leer y escribir. Para almacenar varios valores, puedes usar una lista de Pyhton.

## Introducción a las listas

Pyhton tiene muchos tipos integrados, como cadenas y enteros. Pyhton tiene un tipo para almacenar una colección de valores: la lista.

### Crear una lista

Para crear una lista, asigne una secuencia de valores a una variable. Cada valor está separado por una coma y rodeado por corchetes ([]). En el ejemplo siguiente se almacena la lista de todos los planetas de la variable `planets`:

In [1]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

### Acceder a elementos de lista por índice

Puedes acceder a cualquier elemento de una lista poniendo el $index$/$índice$ entre `[]` después del nombre de la variable de lista. Los índices comienzan desde 0, por lo que en el siguiente código `planets[0]`, es el primer elemento de la lista `planets`:

In [2]:
print('The first planet is', planets[0])
print('The second planets is', planets[1])
print('The third planet is', planets[2])

The first planet is Mercury
The second planets is Venus
The third planet is Earth

`NOTA:` Todos lso índices inican en 0, es decir en la posición 0 de la lista de planets, es Mercury, en la posición 1 el elemento es Venus y así sucesivamente.

También puedes modificar los valores de una lista mediante un índice. Lo hacemos asignando un nuevo valor, de la misma manera que asignaría un valor a una variable.
Por ejemplo, podrías cambiar el nombre de Marte en la lista para usar su apodo:

In [3]:
planets[3] = 'Red Planet'
print('Mars is also know as', planets[3])

Mars is also know as Red Planet

### Determinar la longitud de una lista
Para obterner la longitud de una lista, utilice la función integrada `len`. El código siguiente crea una nueva variable, `number_of_planetsplanets`. El código asigna a esa variable el número de elementos de la lista `planets` (8 planetas).

In [4]:
number_of_planets = len(planets)
print('There are', number_of_planets, 'planets in the solar system.')

There are 8 planets in the solar system.

### Agregar valores a listas
Las listas en Pyhton son dinámicas. Es decir, puedes agregar y eliminar elementos después de crearlos. Para agregar un elemento a una lista, utilice el método `.append(value)`.

Por ejemplo, el código siguiente agrega la cadena `'Pluto`al final de la lista `planets`:

In [5]:
planets.append('Pluto')
number_of_planets = len(planets)
print('There are actually', number_of_planets, 'planets in the solar system')

There are actually 9 planets in the solar system

### Eliminar valores de una lista
Puedes eliminar el último elemento de una lista llamando al método`.pop()`de la variable de lista:

In [6]:
planets.pop()
number_of_planets = len(planets)
print('No, there are definitely', number_of_planets, 'planets in the solar system')

No, there are definitely 8 planets in the solar system

### Índices negativos
Hasta ahora hemos visto cómo usar índices para obtener un elemento individual de una lista:

In [7]:
print("The first planet is", planets[0])

The first planet is Mercury

Los índices comienzan en cero y aumentan. Los índices negativos comienzan al final de la lista y trabajan hacia atrás.

En el ejemplo siguiente, un indice de `-1` devuelve el último elemento de una lista.
Un índice de `-2` retorna al penúltimo al último.

In [8]:
print('The last planet is', planets[-1])
print('The penultimate planet is', planets[-2])

The last planet is Neptune
The penultimate planet is Uranus

Si quisieras devolver del tercero al últim, usarías un índice de `-3` (y así sucesivamente).

### Buscar un valor en una lista.
Para determinar en qué parte de una lista se almacena un valor, utilizamos el método `index()` de la lista. Este método busca e valor y devuelve el índice de ese elemento en la lista. Si no encuentra una coincidencia, devuelve `-1`.

En el siguiente ejemplo se muestra el uso de `'Jupiter` como el valor del índice:

In [9]:
jupiter_index = planets.index('Jupiter')
print('Jupiter is the', jupiter_index +1, 'planets from the sun')

# Coloco el `+1` para ajustar el listado y no contar desde el 0

Jupiter is the 5 planets from the sun

## Trabajar con números en listas
Hasta ahora , has estado usando nombres de planetas en una lista. Es posible que te preguntes acerca de trabajar con otros tipos de datos, como números.

¿Sabías que la gravedad en otros planestas es más fuerte o más débil dependiendo de la masa o el tamaño del planeta? La gravedad a menudo se mide en G, donde la gravedad en la Tierra es 1 y otros planetas se miden en relacion con la Tierra.

La gravedad en la luna es de 0,166 G, por lo que los astronautas pueden saltar tan alto en la luna. La gravedad en Neptuno es de 1,12 G, por lo que saltar es más difícil.
Incluso los atletas olímpicos tendrían dificultades para saltar más de 2 metros sobre Neptuno.

### Almacenar números en listas
Para almacenar números con decimales en Pyhton, utilizamos el tipo`float`. Para crear un float, introduza el número con el decimal y asígnelo a una variable:

In [10]:
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166

En el siguiente código creamos una lista que muestra las fuerzas gravitacionales de los ocho planetas del sistema solar, en G:

In [11]:
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

En esta lista, `gravity_on_planets[0]` está la gravedad en Mercurio (0.378 G), `gravity_on_planets[1]` es la gravedad en Venus (0.907 G), y así sucesivamente.

En la Tierra, un autobús de dos tipos pesa 12,650 Kilogramos (Kg), que es 12.65 Ton multiplicadas por 0.378. En Pyhton, para multiplicar dos valores, se utiliza el simbolo `*`.

En el siguiente ejemplo, puedes calcular el peso de un bus de dos pisos en diferentes planetas obteniendo el valor de la lista:

In [12]:
bus_weight = 12650

print('On Earth, a double-decker bus weighs',bus_weight, 'Kg')
print('On Mercury, a double-decker bus weighs', bus_weight * gravity_on_planets[0], 'Kg')

On Earth, a double-decker bus weighs 12650 Kg
On Mercury, a double-decker bus weighs 4781.7 Kg

### min() y max() con listas
Pyhton tiene funciones integradas para calcular los números más grandes y más pequeños de una lista. La función `max()` devuelve el número aás grande y la funcion `min()` devuelve el más pequeño. Así que `min(gravity_on_planets)` devuelve el número más pequeño de la lista, `gravity_on_planets` que es 0.378 (Mercurio).

El siguiente código cacula os pesos mínimos y máximos en el sistema solar mediante el uso de las funciones:

In [13]:
bus_weight = 12650

print('On Earth, a double-decker bus weighs', bus_weight, 'Kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'Kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'Kg')

On Earth, a double-decker bus weighs 12650 Kg
The lightest a bus would be in the solar system is 4781.7 Kg
The heaviest a bus would be in the solar system is 29854.0 Kg

## Manipular los datos de lista
Es posible que debas trabajar con diferentes partes de una lista. Por ejemplo, supongamos que tiene una lista con cantidades de lluvia para varios meses. Para analizar adecuadamente este tipo de datos, es posible que debas buscar precipitaciones en otoño o en un período de tres meses. O puede ser que desees ordenar la lista de mayor cantidad de lluvia a menor.

Python proporciona un soporte sólido para trabajar con los datos en las listas. Este soporte incluye el `slicing` (examinando solo una parte) y el `sorting`.

### Slice list
Puedes recuperar una aprte de una lista mediante `slice` (Entendamos slice como una porción, un pedacito, un fragmento, segmento). `Slice` utiliza corchetes, pero en lugar de un solo elemento, tiene los índices inicial y final de los elementos que queremos recuperar. Cuando se utiliza `slice`, se crea una nueva lista que comienza en el índice inicial y que termina antes (y no incluye) el índice final.

La lista de planetas tiene ocho elementos. La Tierra es la tercera en la lista. Para obtener los planetas antes que la Tierra, use un `slice` para obtener elementos que comienzan en 0 y terminan en 2:

In [14]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2]
print(planets_before_earth)

['Mercury', 'Venus']

Observamos cómo la Tierra no está incluida en la lista. La razón es que el índie termina antes que el índice final.

Para obtener todos los planetas des`pués de la Tierra, comenzamos en el tercero y vamos al ocatvo:

In [15]:
planets_after_eath = planets[3:8]
print(planets_after_eath)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

En este ejemplo, se muestra Neptuno. La razón es que el índice para Neptuno es `7`, porque la indexación comienza en `0`. Debido a que el índice final era `8`, incluye el último valor. Si no coloca el índice de detención en el `slice`, Pyhton asume que deseas ir al final de la lista:

In [16]:
planets_after_earth = planets[3:]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

Un `slice`crea una nueva lista. No modifica la lista actual.

### Uniendo listas
Has vistocómo puedes usar slices para dividir listas, pero¿Qué hay de unirlas de nuevo?

Para unir dos listas, utilice el operador (`+`) con dos listas para devolver una nueva lista.

Hay 79 lunas conocidas de Júpiter. Las cuatro más grandes son Io, Europa, Ganímedes y Calisto. Estas se llaman las lunas galileanas, porque Galileo Galilei las descubrió usando su telescopio en 1610. Más cerca de Júpiter que del grupo galileo está el grupo de Amaltea. Conosiste en las lunas Metis, Andreastea, Amaltea y Teba.

Crea dos listas. Llene la primera lista con las cuatro lunas de Amaltea y la segunda lista con las cuatro lunas galileanas. Únelos para crear una nueva lista:

In [17]:
amalthea_group = ['Metis', 'Andastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Andastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

Al unir las listas, se crea una nueva lista. No se modifica la lista actual.

### Ordenar listas
Para ordenar una lista, utilizamos el método `sort()` de la lista. Pyhton ordenará una lista de cadenas en orden alfabético y una lista de números en orden numérico:

In [18]:
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Amalthea', 'Andastea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

Para ordenar una lista en forma inversa, llamamos al metodo`.sort(reverse=True)` de la lista:

In [19]:
regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Andastea', 'Amalthea']

Al usar el método `.sort` modificas la lista actual.